.techs {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  gap: 10px;
  &__link {
    opacity: 0;
  }
}

// Animation

.animateTechs {
  animation: flip 1s forwards;
}

@keyframes flip {
  from {
    opacity: 0;
    transform: scaleX(0);
  }

  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@for $i from 1 through 100 {
  .techs__link:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.1}s;
  }
}

@media screen and (max-width: 900px) {
  .techs {
    &__link img {
      height: 80px;
    }
  }
}

@media screen and (max-width: 800px) {
  .techs {
    &__link img {
      height: 70px;
    }
  }
}

@media screen and (max-width: 700px) {
  .techs {
    &__link img {
      height: 60px;
    }
  }
}

@media screen and (max-width: 600px) {
  .techs {
    &__link img {
      height: 50px;
    }
  }
}

@media screen and (max-width: 500px) {
  .techs {
    &__link img {
      height: 40px;
    }
  }
}
