.techs {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__link {
    margin: 20px 10px 0;
    opacity: 0;
  }
}

// Animation

.animateTechs {
  animation: flip 1s forwards;
}

@keyframes flip {
  from {
    opacity: 0;
    transform: scaleX(0);
  }

  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@for $i from 1 through 18 {
  .techs__link:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.1}s;
  }
}
